@import (reference) "../../references.less";

.root {
  display: block;
}

.loading {
  .font-sacramento-regular();
  .R(font-size, 50, 120);
  .absoluteCenter();
  color: @color-white;

  animation: blink 2s linear infinite;

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
