@import (reference) "../../references.less";

.root {
}

.wrapper {
  position: relative;
}
.image {
  position: relative;
  width: 100%;
}
.canvas {
  position: absolute;
  top: 0;
}

.blurFacesWrapper {
  .size(100%);
  position: absolute;
  top: 0;
}
