@import (reference) "../../references.less";

.root {
  .R(padding-bottom, 50);
  position: relative;
  background: @color-blue-1;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  .R(height, 80, 120);
  background: @color-blue-1;
  z-index: 1;
  .flex(flex, row, wrap, center, center);
}

.logo {
  transform: scale(0.5);
}

.headerBackground {
  position: absolute;
  top: 0;
  width: 100%;
  .R(height, 130, 300);
  background: @color-blue-1;
}

.mainButton {
  cursor: pointer;
  position: relative;
  color: @color-red;
  .R(font-size, 16, 18);

  margin: auto;
  .flex(flex, row, wrap, center, center);
  transition: all ease-out 200ms;

  &:active {
    opacity: 0.8;
    text-decoration: underline;
  }
  &:hover {
    color: @color-white;
    svg {
      .R(margin-left, 11, 12);
      path {
        fill: @color-white;
      }
    }
  }

  svg {
    .R(margin-left, 8, 10);
    transition: all ease-out 200ms;
    path {
      transition: all ease-out 200ms;
      fill: @color-red;
    }
  }
}

.restart {
  cursor: pointer;
  .absoluteCenter(y);
  .R(right, 30);

  color: @color-red;
  .R(font-size, 16, 18);
  transition: all ease-out 200ms;

  &:active {
    opacity: 0.8;
    text-decoration: underline;
  }
  &:hover {
    color: @color-white;
    svg {
      path {
        fill: @color-white;
      }
    }
  }
}

.list {
  .R(margin-top, 110, 130);
  margin: auto;
  width: 80%;
  @media (min-width: @breakpoint-laptop) {
    .R(width, 816);
    margin-left: auto;
    margin-right: auto;
  }
}

.item {
  .R(margin-top, 50);
  position: relative;
}
